.userListContainer {
  padding: 2rem 0;
  max-width: 80%;
  width: 80%;
  margin: 0 auto;
}

.userList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.headerField {
  font-weight: bold;
  font-size: 1.2rem;
}

.userListItem a,
.headerField {
  padding: 1rem 0;
  border-bottom: solid 1px gray;
  display: flex;
  justify-content: flex-start;
}

.userListItem a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.userListItem a:hover,
.userListItem a:hover,
.userListItem a:hover {
  color: inherit;
  background-color: lightgrey;
}
.userName {
  min-width: 200px;
  flex-basis: 30%;
}

.name {
  flex-basis: auto;
}
